{% load static %}<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tu carga</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static "css/foundation.css" %}">
  <link rel="stylesheet" href="{% static "css/foundation-icons.css" %}">
  <link rel="stylesheet" href="{% static "css/datepicker.css" %}">

  <link rel="stylesheet" href="{% static "css/vendor.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">

  <!-- <link rel="stylesheet" href="http://127.0.0.1:9000/styles/main.css"> -->

  <script src="{% static "js/jquery.js" %}"></script>

</head>
<body>

    <header class="fixed">
      <nav id="header" class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
               <a href="http://{{ site.domain }}"><img src="{% static "images/tucarga.jpg" %}" alt="Tu carga"></a>
            </li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="talk">
                  <span>Hablemos</span><br />
                  600 500 0606
              </li>
              <li><a href="http://{{ site.domain }}#/cotizar" class="button radius create">Publica carga</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a  href="http://{{ site.domain }}#/" class="lvl1">Inicio</a></li>
              <li><a href="http://{{ site.domain }}#/directorio" class="lvl1">Directorio de transporte</a></li>
              <li><a href="http://{{ site.domain }}#/como_funciona" class="lvl1" >Cómo funciona</a></li>
              <li class="has-dropdown">
                    <a href="http://{{ site.domain }}#" class="false">Sobre Tucarga</a>
                <ul class="dropdown">
                  <li><a href="http://{{ site.domain }}#/ayuda">Preguntas frecuentes</a></li>
                  <li><a href="http://{{ site.domain }}#/contacto">Contacto</a></li>
                </ul>
              </li>
            </ul>
          </section>
      </nav>
    </header>

    <div class="container" >
              {% block content %}
              {% endblock %}
    </div>


    <footer>
      <div class="row">
        <div class="large-8 columns">
          <ul class="inline">
            <li><strong><a href="http://{{ site.domain }}#">Inicio</a></strong></li>
            <li><strong><a href="http://{{ site.domain }}#/directorio">Directorio</a></strong></li>
            <li><strong><a href="http://{{ site.domain }}#/como_funciona">Como funciona</a></strong></li>
            <li><strong><a href="http://{{ site.domain }}#/contacto">Contacto</a></strong></li>
            <li><strong><a href="http://{{ site.domain }}#/cotizar">Publicar carga</a></strong></li>
            <li><strong><a href="http://api.tucarga.cl/directory/registration/">Unete al club</a></strong></li>
          </ul>
        </div>
        <div class="large-4 columns">
          <ul class="right-text">
            <li><strong>Tucarga S.A.</strong> Algunos derechos reservados</li>
            <li><a href="http://{{ site.domain }}#/terminos">Terminos y condiciones de uso</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% if not debug %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32002112-1', 'tucarga.cl');
      ga('send', 'pageview');
    </script>

    {% endif %}

  <script src="{% static "js/modernizr.js" %}"></script>
  <script src="{% static "js/foundation.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.es.js" %}"></script>

  <script src="{% static "js/cotiza.js" %}"></script>
  <script type="text/javascript">$(document).foundation();</script>

</body>
