{% extends "base.html" %}

{% block content %}
<div id="content-page">
    <div  class="row">

    <div id="sidebar" class="large-3 medium-4 columns">
        <div class="nav-view">
            <ul class="tabs" data-tab>
                <li><a href="#panel2-1" class="">Rutas frecuentes</a></li>
                <li><a href="#panel2-3">Datos empresa</a></li>
                <li><a href="#panel2-2">Datos contacto</a></li>
            </ul>
        </div>

        <div class="box contact">
            <div class="margin">
                <a href="#/contacto">Te ayudamos</a>
                <p>En <b>Tucarga</b> siempre estamos dispuesto a ayudarte, habla con nosotros al 600 500 0606</p>
            </div>
        </div>
    </div>

    <div id="content-view" class="large-9 medium-8 columns">
        <div class="box columns">

        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            {% include "profiles/rate.html" %}
          </div>
          <div class="content" id="panel2-2">
            {% include "profiles/companyprofile.html" %}
          </div>
          <div class="content" id="panel2-3">
            {% include "profiles/transportcompanyprofile.html" %}
          </div>
        </div>

        </div>
    </div>
</div>

<script>
  var is_input_valid = function(tablerow) {
    if(tablerow.hasClass("export")) {
      var amount = tablerow.find('#id_amount')
      if(!amount.val()) {
        return false
      }
    }
    if(tablerow.hasClass("import")) {
      var oneway = tablerow.find('#id_oneway')
      var roundtrip = tablerow.find('#id_roundtrip')
      if(!(oneway.val() || roundtrip.val())) {
        return false
      }
    }
    return true
  }

  var update_form = function(form, msg) {
    var patch_input = form.find('.patch')
    if(patch_input.length == 0) {
      // Actualizar form.action
      form.attr('action', msg.update_url)
      var input = $('<input>').attr({
        id: 'patch',
        class: 'patch',
        type: 'hidden',
        value: 'PATCH',
        name: '_method',
      })
      form.append(input)
    }
  }

  var update_rate_handler = function() {
    var tablerow = $(this).parent().parent()
    var route = $(tablerow).attr('route')
    var form = tablerow.find('#form-' + route)

    if(!is_input_valid(tablerow)) {
      return
    }

    if(tablerow.hasClass("creating")) {
      return
    }

    var url = form.attr('action')
    var payload = form.serialize()

    tablerow.addClass("creating")
    $.ajax({
      type: "POST",
      url: url,
      data: payload
    })
      .done(function(msg) {
        // Elimino el div de alert
        $('.alert-box ').hide()
        // Actualizar boton
        var button = tablerow.find('.status')
        button.addClass('check')
        tablerow.removeClass("creating")
        update_form(form, msg)
      });
  }

  // bind handler for export validity fields
  $(function() {
    $('.export-rate').each(function(index) {
      $(this).find('#id_validity').blur(update_rate_handler);
    });
  });
  // bind handler for export amount fields
  $(function() {
    $('.export-rate').each(function(index) {
      $(this).find('#id_amount').blur(update_rate_handler);
    });
  });

  // bind handler for import validity fields
  $(function() {
    $('.import-rate').each(function(index) {
      $(this).find('#id_validity').blur(update_rate_handler);
    });
  });
  // bind handler for import oneway fields
  $(function() {
    $('.import-rate').each(function(index) {
      $(this).find('#id_oneway').blur(update_rate_handler);
    });
  });
  // bind handler for import roundtrip fields
  $(function() {
    $('.import-rate').each(function(index) {
      $(this).find('#id_roundtrip').blur(update_rate_handler);
    });
  });

  // // Tabs for the ruotes
  $('ul.tabs').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and it's associated content
    var $active, $content, $links = $(this).find('a');

    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
    $active.addClass('active');

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    });

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
      $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
      $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
      $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });

  $( "label:contains(':')" ).addClass('headLabel')

  </script>

{% endblock %}
