{% extends "base.html" %}

{% block content %}

  <h1>Perfil empresa transporte</h1>

  <form method="POST" action="{% url 'profile-transportcompany-update' pk=transportcompany.pk %}">

    {% csrf_token %}
    
    {{ form }}

    <button class="button success radius large-12">Actualizar</button>
  </form>

{% endblock %}
