{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}

{% block extrastyle %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% trans 'Create' %}
    </div>

{% endblock %}

{% block content %}

<form method="POST">

{% csrf_token %}

<div>

{% for fieldset in adminform %}

  {% include "admin/includes/fieldset.html" %}

{% endfor %}

<div class="submit-row">
            <input type="submit" value="Submit" class="default"/>
        </div>
</div>

{% endblock%}
