{% extends "base.html" %}

{% block content %}

      <div id="content-page">
        <div  id="form" class="row">
          <div class="small-9 small-centered columns">
            <div id="content-view">

                <div class="title-page form cotiza">
                    <h3>¡Regístrate!</h3>
                    <p>Se parte de la comunidad de transporte más grande de Chile.</p>
                </div>

              <div class="row form-layout">
                <div class="large-8 columns">

                <form method="POST">
                  {% csrf_token %}

                  <div class="row step">
                      <div class="large-12 columns">
                          <h5 class="subhearder">Datos empresa</h5>
                      </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                        <label>{{ form.company_name.label }} <span class="required">*</span></label>
                        {{ form.company_name }}
                        <div class="error-container" >{{ form.errors.company_name }}</div>
                    </div>
                    <div class="large-3 columns">
                        <label>{{ form.company_business_name.label }} <span class="required">*</span></label>
                        {{ form.company_business_name }}
                        <div class="error-container" >{{ form.errors.company_business_name }}</div>
                    </div>
                    <div class="large-3 columns">
                        <label>{{ form.company_business_number.label }} <span class="required">*</span></label>
                        {{ form.company_business_number }}
                        <div class="error-container" >{{ form.errors.company_business_number }}</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-4 columns">
                        <label>{{ form.company_address_region.label }} <span class="required">*</span></label>
                        {{ form.company_address_region }}
                        <div class="error-container" >{{ form.errors.company_address_region }}</div>
                    </div>
                    <div class="large-4 columns">
                        <label>{{ form.company_address_commune.label }} <span class="required">*</span></label>
                        {{ form.company_address_commune }}
                        <div class="error-container" >{{ form.errors.company_address_commune }}</div>
                    </div>
                    <div class="large-4 columns"></div>
                  </div>

                  <div class="row">
                    <div class="large-4 columns">
                        <label>{{ form.company_address_city.label }} <span class="required">*</span></label>
                        {{ form.company_address_city }}
                        <div class="error-container" >{{ form.errors.company_address_city }}</div>
                    </div>
                    <div class="large-4 columns">
                        <label>{{ form.company_address_street.label }} <span class="required">*</span></label>
                        {{ form.company_address_street }}
                        <div class="error-container" >{{ form.errors.company_address_street }}</div>
                    </div>
                    <div class="large-2 columns">
                        <label>{{ form.company_address_number.label }} <span class="required">*</span></label>
                        {{ form.company_address_number }}
                        <div class="error-container" >{{ form.errors.company_address_number }}</div>
                    </div>
                    <div class="large-2 columns">
                        <label>{{ form.company_address_floor.label }} </label>
                        {{ form.company_address_floor }}
                        <div class="error-container" >{{ form.errors.company_address_floor }}</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-5 columns">
                        {{ form.company_own_trucks }}
                        <label for="id_company_own_trucks">{{ form.company_own_trucks.label }} </label>
                        <div class="error-container" >{{ form.errors.company_own_trucks }}</div>
                    </div>
                    <div class="large-5 columns">
                        {{ form.company_own_storage }}
                        <label for="id_company_own_storage">{{ form.company_own_storage.label }} </label>
                        <div class="error-container" >{{ form.errors.company_own_storage }}</div>
                    </div>
                    <div class="large-2 columns"></div>
                  </div>

                  <div class="row step">
                      <div class="large-12 columns">
                          <h5 class="subhearder">Datos personales</h5>
                      </div>
                  </div>

                  <div class="row">
                    <div class="large-4 columns">
                        <label>{{ form.contact_first_name.label }} <span class="required">*</span></label>
                        {{ form.contact_first_name }}
                        <div class="error-container" >{{ form.errors.contact_first_name }}</div>
                    </div>
                    <div class="large-4 columns">
                        <label>{{ form.contact_last_name.label }} <span class="required">*</span></label>
                        {{ form.contact_last_name }}
                        <div class="error-container" >{{ form.errors.contact_last_name }}</div>
                    </div>
                    <div class="large-4 columns">
                        <label>{{ form.contact_position.label }} <span class="required">*</span></label>
                        {{ form.contact_position }}
                        <div class="error-container" >{{ form.errors.contact_position }}</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                        <label>{{ form.contact_email.label }} <span class="required">*</span></label>
                        {{ form.contact_email }}
                        <div class="error-container" >{{ form.errors.contact_email }}</div>
                    </div>
                    <div class="large-6 columns"></div>
                  </div>

                  <div class="row">
                    <div class="large-4 columns">
                        <label>{{ form.contact_phone.label }} <span class="required">*</span></label>
                        {{ form.contact_phone }}
                        <div class="error-container" >{{ form.errors.contact_phone }}</div>
                    </div>
                    <div class="large-4 columns">
                        <label>{{ form.contact_mobile.label }} <span class="required">*</span></label>
                        {{ form.contact_mobile }}
                        <div class="error-container" >{{ form.errors.contact_mobile }}</div>
                    </div>
                    <div class="large-4 columns"></div>
                  </div>

                  <br>
                  <div class="row">
                    <div class="large-12 columns">
                      <button class="button success radius large-12">Unirse al club</button>
                        {% if form.errors %}
                          Corrija los siguientes errores
                        {% endif %}
                    </div>
                  </div>

                  </form>

                </div> <!-- end form content -->
                <div class="large-4 columns">
                    <div class="why sidebar">
                        <h5>Beneficios de estar registrado</h5>
                        <ul>
                            <li><i class="fi-check"></i>Da a conocer tu empresa al mercado a través de nuestro directorio indicando coberturas y servicios.</li>
                            <li><i class="fi-check"></i>Ahorra tiempo buscando cargas disponibles.</li>
                            <li><i class="fi-check"></i>Accede a cargas en todo Chile y conoce nuevos clientes.</li>
                        </ul>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

{% endblock %}
