{% extends "base.html" %}

{% block content %}

      <div id="content-page">
        <div  id="form" class="row">
          <div class="small-9 small-centered columns">
            <div id="content-view">

                <div class="row form-layout">
                  <div class="large-11 columns">

                    <div class="title-page form cotiza">
                        <h3>Resumen de carga</h3>
                        <p>A continuación puedes ver el detalle de tu publicaión de carga</p>
                    </div>

                      {% with "directory/freight_detail_"|add:freight.obj_type|add:"_include.html" as template_name %}
                      {% include template_name %}
                      {% endwith %}

                  </div> <!-- end form content -->
                    <div class="large-11 columns"></div>
                </div>

            </div>
          </div>
        </div>
      </div>

{% endblock %}
