<div class="box cotiza">
  <div class="margin">

    <div class="row step">
      <div class="large-12 columns">
          <h5 class="subhearder">Detalles de la publicación</h5>
      </div>
    </div>

<div class="row">
  <div class="large-5 columns">
      <table>
        <tbody>
          <tr>
            <td>Cliente</td>
            <td><strong>{{ freight.userdirectory.company.name }}</strong></td>
          </tr>
          <tr>
            <td>Tipo operación</td>
            <td><strong>{{ freight.get_obj_type_display }}</strong></td>
          </tr>
          <tr>
            <td>Número de orden</td>
            <td><strong>{{ freight.id }}</strong></td>
          </tr>
          <tr>
            <td>Tipo de carga</td>
            <td><strong>{{ freight.freightdetail_set.all.0.get_obj_type_display }}</strong></td>
          </tr>
          <tr>
            <td>Unidades</td>
            <td><strong>{{ freight.freightdetail_set.all.0.units }}</strong></td>
          </tr>
          <tr>
            <td>Peso unitario</td>
            <td><strong>{{ freight.freightdetail_set.all.0.weight }} Kg</strong></td>
          </tr>
          <tr>
            <td>Volumen</td>
            <td><strong>{{ freight.freightdetail_set.all.0.volume }} m&sup3;</strong></td>
          </tr>
        </tbody>
      </table>
  </div>  <!-- End caracteristica de envio -->
  <div class="large-5 columns">
        <table>
        <tbody>
          <tr>
            <td>Tipo de contenedor</td>
            <td><strong>{{ freight.freightdetail_set.all.0.container_type }}</strong></td>
          </tr>
          <tr>
            <td>Descripción</td>
            <td><strong>{{ freight.freightdetail_set.all.0.description }}</strong></td>
          </tr>
          <tr>
            <td>Almacenaje</td>
            <td><strong>{{ freight.needs_storage }}</strong></td>
          </tr>
          <tr>
            <td>Información adicional</td>
            <td><strong>{{ freight.comments }}</strong></td>
          </tr>
        </tbody>
      </table>
  </div>  <!-- End caracteristica de envio -->
  <div class="large-2 columns"></div>
</div>

<div class="row step">
  <div class="large-12 columns">
      <h5 class="subhearder">Origen</h5>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Depósito</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ freight.get_withdraw_location.commune }}</td>
            <td>{{ freight.get_withdraw_location.deposit_name }}</td>
            <td>{{ freight.get_withdraw_location.from_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row step">
      <div class="large-12 columns">
          <h5 class="subhearder">Destino</h5>
      </div>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Depósito</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ freight.get_return_location.commune }}</td>
            <td>{{ freight.get_return_location.deposit_name }}</td>
            <td>{{ freight.get_return_location.to_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- End ruta de carga -->
</div>


  </div>
</div>
