<h3>Cotización flete</h3>

<p><label for="id_truck_type">{{ form.truck_type.label }}:</label> {{ form.truck_type }}
{{ form.errors.equipment }}
<p><label for="id_equipment">{{ form.equipment.label }}:</label> {{ form.equipment }}
{{ form.errors.units }}
<p><label for="id_units">{{ form.units.label }}:</label> {{ form.units }}
{{ form.errors.truck_unit_price }}
<p><label for="id_truck_unit_price">{{ form.truck_unit_price.label }}:</label> {{ form.truck_unit_price }}
{{ form.errors.price_per_ton }}
<p><label for="id_price_per_ton">{{ form.price_per_ton.label }}:</label> {{ form.price_per_ton }}
{{ form.errors.trip_duration }}
<p><label for="id_trip_duration">{{ form.trip_duration.label }}:</label> {{ form.trip_duration }}

<h3>Información adicional</h3>

{{ form.errors.max_stay_per_load_unload }}
<p><label for="id_max_stay_per_load_unload">{{ form.max_stay_per_load_unload.label }}:</label> {{ form.max_stay_per_load_unload }}
{{ form.errors.freight_aditional_amount }}
<p><label for="id_freight_aditional_amount">{{ form.freight_aditional_amount.label }}:</label> {{ form.freight_aditional_amount }}
{{ form.errors.freight_aditional_amount_unit }}
<p><label for="id_freight_aditional_amount_unit">{{ form.freight_aditional_amount_unit.label }}:</label> {{ form.freight_aditional_amount_unit }}
{{ form.errors.deadfreight }}
<p><label for="id_deadfreight">{{ form.deadfreight.label }}:</label> {{ form.deadfreight }}
{{ form.errors.validity }}
<p><label for="id_validity">{{ form.validity.label }} (AAAA-MM-DD):</label> {{ form.validity }}
{{ form.errors.insurance }}
<p><label for="id_insurance">{{ form.insurance.label }}:</label> {{ form.insurance }}
{{ form.errors.comments }}
<p><label for="id_comments">{{ form.comments.label }}:</label> {{ form.comments }}
