<div class="box cotiza">
  <div class="margin">

    <div class="row step">
      <div class="large-12 columns">
          <h5 class="subhearder">Cotización flete</h5>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Devolución de contenedor</th>
                <th>Tipo de camión</th>
                <th>Equipamiento</th>
                <th>Unidades</th>
                <th>Valor unitario camión</th>
                <th>Valor por tonelada</th>
                <th>Duración viaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ quote.deposit_name }}</td>
                <td>{{ quote.truck_type }}</td>
                <td>{{ quote.equipment }}</td>
                <td>{{ quote.units }}</td>
                <td>{{ quote.truck_unit_price }}</td>
                <td>{{ quote.price_per_ton }}</td>
                <td>{{ quote.trip_duration }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="row step">
      <div class="large-12 columns">
          <h5 class="subhearder">Almacenaje</h5>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Dias libre</th>
                <th>Unidad de cobro</th>
                <th>Tarifa CLP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ quote.free_days|default:"" }}</td>
                <td>{{ quote.get_billing_unit_display }}</td>
                <td>{{ quote.rate|default:"" }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="row step">
      <div class="large-12 columns">
          <h5 class="subhearder">Detalles de la publicación</h5>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
          <table>
            <tbody>
              <tr>
                <td width="50%;">Cotizado por</td>
                <td><strong>{{ quote.userdirectory.user.first_name }} {{ quote.userdirectory.user.last_name }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Estadía máxima por evento de carga y descarga</td>
                <td><strong>{{ quote.max_stay_per_load_unload }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Valor adicional flete CLP</td>
                <td><strong>{{ quote.freight_aditional_amount }} {{ quote.get_freight_aditional_amount_unit_display }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Valor underslung</td>
                <td><strong>{{ quote.freight_underslung_amount }} {{ quote.get_freight_underslung_amount_unit_display }}</strong></td>
              </tr>
            </tbody>
          </table>
      </div>  <!-- End caracteristica de envio -->
      <div class="large-6 columns">
          <table>
            <tbody>
              <tr>
                <td width="50%;">Falso flete (%)</td>
                <td><strong>{{ quote.deadfreight }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Vigencia</td>
                <td><strong>{{ quote.validity }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Seguro de carga</td>
                <td><strong>{{ quote.insurance }}</strong></td>
              </tr>
              <tr>
                <td width="50%;">Información adicional</td>
                <td><strong>{{ quote.comments }}</strong></td>
              </tr>
            </tbody>
          </table>
      </div>  <!-- End caracteristica de envio -->
    </div>

  </div>
</div>
