{% extends "base.html" %}

{% block content %}

      <div id="content-page">
        <div  id="form" class="row">
          <div class="small-9 small-centered columns">
            <div id="content-view">

              <div class="row form-layout">
                <div class="large-11 columns">

                  <div class="title-page form cotiza">
                      <h3>¡Felicidades!</h3>
                      <p>Tenemos una oferta de carga disponible para ti, puedes revisar el detalle a continuación</p>
                  </div>

                    <div class="row step">
                        <div class="large-12 columns">
                            <h5><span>1</span>Resumen de publicación</h5>
                        </div>
                    </div>

                    {% with "directory/freight_detail_"|add:freight.obj_type|add:"_include.html" as template_name %}
                    {% include template_name %}
                    {% endwith %}

                    <div class="row step header">
                        <div class="large-12 columns">
                            <h5><span>2</span>Cotización de precio</h5>
                        </div>
                    </div>

                    <form method="POST">
                      {% csrf_token %}
                        {% with "directory/quote_form_"|add:freight.obj_type|add:"_include.html" as template_name %}
                        {% include template_name %}
                      {% endwith %}
                      <br>
                      <button class="button success radius large-12">Enviar cotización</button>
                      {% if form.errors %}
                        Corrija los siguientes errores
                      {% endif %}
                    </form>

                </div> <!-- end form content -->
                  <div class="large-11 columns"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

{% endblock %}
