<fieldset>
    <legend>Cotización número 1</legend>
    <div class="row">
        <div class="large-4 columns">
            <label>{{ form.truck_type.label }} <span class="required">*</span></label>
            {{ form.truck_type }}
            <div class="error-container" >{{ form.errors.truck_type }}</div>
        </div>
        <div class="large-4 columns">
            <label>{{ form.equipment.label }}</label>
            {{ form.equipment }}
            <div class="error-container" >{{ form.errors.equipment }}</div>
        </div>
        <div class="large-4 columns"></div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label>{{ form.units.label }} <span class="required">*</span></label>
            {{ form.units }}
            <div class="error-container" >{{ form.errors.units }}</div>
        </div>
        <div class="large-5 columns">
            <label>{{ form.truck_unit_price.label }}<span class="required">*</span></label>
            {{ form.truck_unit_price }}
            <div class="error-container" >{{ form.errors.truck_unit_price }}</div>
        </div>
        <div class="large-3 columns">
            <label>{{ form.price_per_ton.label }}</label>
            {{ form.price_per_ton  }}
            <div class="error-container" >{{ form.errors.price_per_ton }}</div>
        </div>
        <div class="large-2 columns">
            <label>{{ form.trip_duration.label }} <span class="required">*</span></label>
            {{ form.trip_duration }}
            <div class="error-container" >{{ form.errors.trip_duration }}</div>
        </div>
    </div>
</fieldset>

<br>
{% if freight.needs_storage %}
<div class="row step">
    <div class="large-12 columns">
        <h5 class="subhearder">Almacenaje</h5>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        <label>{{ form.free_days.label }} <span class="required">*</span></label>
        {{ form.free_days }}
        <div class="error-container" >{{ form.errors.free_days }}</div>
    </div>
    <div class="large-4 columns">
        <label>{{ form.billing_unit.label }} <span class="required">*</span></label>
        {{ form.billing_unit }}
        <div class="error-container" >{{ form.errors.billing_unit }}</div>
    </div>
    <div class="large-4 columns">
        <label>{{ form.rate.label }} <span class="required">*</span></label>
        {{ form.rate }}
        <div class="error-container" >{{ form.errors.rate }}</div>
    </div>
</div>

{% endif %}

<div class="row step">
    <div class="large-12 columns">
        <h5 class="subhearder">{{ form.max_stay_per_load_unload.label }} *</h5>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <div style="width: 30%;">
            {{ form.max_stay_per_load_unload }}
        </div>
        <label>Horas</label>
        <div class="error-container" >{{ form.errors.max_stay_per_load_unload }}</div>
    </div>
    <div class="large-5 columns"></div>
</div>

<div class="row step">
    <div class="large-12 columns">
        <h5 class="subhearder">En caso de exceder tiempo de estadía</h5>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <label>{{ form.freight_aditional_amount.label }} <span class="required">*</span></label>
        {{ form.freight_aditional_amount }}
        <div class="error-container" >{{ form.errors.freight_aditional_amount }}</div>
    </div>
    <div class="large-3 columns">
        <label>{{ form.freight_aditional_amount_unit.label }} <span class="required">*</span></label>
        {{ form.freight_aditional_amount_unit }}
        <div class="error-container" >{{ form.errors.freight_aditional_amount_unit }}</div>
    </div>
    <div class="large-3 columns">
        <label>{{ form.freight_underslung_amount.label }}</label>
        {{ form.freight_underslung_amount }}
        <div class="error-container" >{{ form.errors.freight_underslung_amount }}</div>
    </div>
    <div class="large-3 columns">
        <label>{{ form.freight_underslung_amount_unit.label }}</label>
        {{ form.freight_underslung_amount_unit }}
        <div class="error-container" >{{ form.errors.freight_underslung_amount_unit }}</div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <label>{{ form.deadfreight.label }} <span class="required">*</span></label>
        {{ form.deadfreight }}
        <div class="error-container" >{{ form.errors.deadfreight }}</div>
    </div>
    <div class="large-6 columns"></div>
</div>

<div class="row step">
    <div class="large-12 columns">
        <h5 class="subhearder">Otros</h5>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        <label>{{ form.validity.label }}<span class="required">*</span></label>
        {{ form.validity }}
        <div class="error-container" >{{ form.errors.validity }}</div>
    </div>
    <div class="large-4 columns">
        <label>{{ form.insurance.label }}</label>
        {{ form.insurance }}
        <div class="error-container" >{{ form.errors.insurance }}</div>
    </div>
    <div class="large-4 columns"></div>
</div>

<div class="row">
    <div class="large-8 columns">
        <label>{{ form.comments.label }}</label>
        {{ form.comments }}
        <div class="error-container" >{{ form.errors.comments }}</div>
    </div>
    <div class="large-4 columns"></div>
</div>

