{% extends "base.html" %}

{% block content %}

  <table>
    <tr>
      <th>Depósito</th>
      <th>Cliente</th>
      <th>Puerto</th>
      <th>Valor</th>
      <th>Vigencia</th>
    </tr>

    {% for route, form in routeform_list %}

    <tr>
      <td>{{ route.deposit }}</td>
      <td>{{ route.client }}</td>
      <td>{{ route.port }}</td>

      {% if not form.instance.pk %}

      <form method="POST" action="{% url 'rate-export-create' %}">

      {% else %}

      <form method="POST" action="{% url 'rate-export-update' pk=form.instance.pk %}">

      {% endif %}

      {% csrf_token %}

      {{ form.transportcompany }}{{ form.route }}

      <td>{{ form.amount }}</td>
      <td>{{ form.validity }}</td>

      {% if not form.instance.pk %}

      <td><button class="button success radius large-12">Crear</button></td>

      {% else %}

      <td><button class="button success radius large-12">Actualizar</button></td>

      {% endif %}

      </form>

    </tr>

    {% endfor %}

  </table>

{% endblock %}
