<div class="title-page lvl2">
    <h3>Datos de contacto</h3>
    <h5 class="subheader">Actualiza tus datos de contacto.</h5>
</div>

{% if companyprofile_form.instance.logo %}

    <div class="avatar">
        <img class="logo" src="{{ companyprofile_form.instance.logo.url }}" alt="Logo empresa">
    </div>

{% endif %}

<div class="row">
    <div class="small-6 columns">

      <form method="POST" action="{% url 'profile-company-update' pk=transportcompany.company.pk %}" enctype="multipart/form-data".>
        {% csrf_token %}
        {{ companyprofile_form }}
        <br>
        <button class="button success radius large-12">Actualizar</button>
      </form>

    </div>
</div>
