        <div class="title-page lvl2">
            <h3>Rutas frecuentes</h3>
            <h5 class="subheader">Completa tus rutas frecuentes para aumentar el número de publicaciones en las que puedes participar.</h5>
        </div>

         <ul class='tabs routes button-group radius '>
            <li><a href='#tab1' class="btn">Importación</a></li>
            <li><a href='#tab2' class="btn">Exportación</a></li>
          </ul>

          <div id='tab1'>

              {% if not has_rateimport %}
              <div data-alert class="alert-box alert radius">
                Actualmente no tienes ninguna tarifa registrada
                <a href="#" class="close">&times;</a>
              </div>
              {% endif %}

            <br class="clear">

              {% if not importroute_forms %}
              <div data-alert class="alert-box info radius">
                <h5>No encontramos rutas disponibles</h5>
                <p>Para acceder a tus rutas primero debes actualiza tu listado de coberturas en el menú Datos empresa</p>
                <a href="#" class="close">&times;</a>
              </div>
              {% endif %}

            <br class="clear">

            {% for zone in importroute_forms %}

            <div class="intro-sec">
                <h4><span>{{ zone.0 }}</span></h4>
            </div>

              <table>
                <tr>
                  <th>Puerto</th>
                  <th>Cliente</th>
                  <th>Depósito</th>
                  <th width="15%">$ Oneway</th>
                  <th width="15%">$ Round trip</th>
                  <th width="12%">Vigencia</th>
                  <th width="5%"></th>
                </tr>

                {% for route, form in zone.1 %}

                <tr class="import-rate import" route="{{ route.pk }}">
                  <td>{{ route.port }}</td>
                  <td>{{ route.client }}</td>
                  <td>{{ route.deposit|default:'' }}</td>
                  {% if not form.instance.pk %}

                  <form id="form-{{ route.pk }}"  method="POST" action="{% url 'rate-import-create' %}">

                  {% else %}

                  <form id="form-{{ route.pk }}" method="POST" action="{% url 'rate-import-update' pk=form.instance.pk %}">

                    <input name="_method" type="hidden" value="PATCH">

                  {% endif %}

                  {% csrf_token %}

                  {{ form.transportcompany }}{{ form.route }}

                  <td>{{ form.oneway }}</td>
                  <td>{{ form.roundtrip }}</td>
                  <td>{{ form.validity }}</td>

                  {% if not form.instance.pk %}

                  <td><div class="status"></div></td>

                  {% else %}

                  <td><div class="status check"></div></td>

                  {% endif %}

                  </form>

                </tr>

                {% endfor %}

              </table>

              {% endfor %}

          </div>

          <div id='tab2'>

            {% if not has_rateexport %}
              <div data-alert class="alert-box alert radius">
                Actualmente no tienes ninguna tarifa registrada
                <a href="#" class="close">&times;</a>
              </div>
            {% endif %}

            <br class="clear">

              {% if not exportroute_forms %}
              <div data-alert class="alert-box info radius">
                <h5>No encontramos rutas disponibles</h5>
                <p>Para acceder a tus rutas primero debes actualiza tu listado de coberturas en el menú Datos empresa</p>
                <a href="#" class="close">&times;</a>
              </div>
              {% endif %}

            <br class="clear">

            {% for zone in exportroute_forms %}

            <div class="intro-sec">
                <h4><span>{{ zone.0 }}</span></h4>
            </div>

            <table>
              <tr>
                <th>Depósito</th>
                <th>Cliente</th>
                <th>Puerto</th>
                <th width="20%">$ Valor</th>
                <th width="15%">Vigencia</th>
                <th width="5%"></th>
              </tr>

              {% for route, form in zone.1 %}

              <tr class="export-rate export" route="{{ route.pk }}">
                <td>{{ route.deposit|default:'' }}</td>
                <td>{{ route.client }}</td>
                <td>{{ route.port }}</td>

                {% if not form.instance.pk %}

                <form id="form-{{ route.pk }}" method="POST" action="{% url 'rate-export-create' %}">

                {% else %}

                <form id="form-{{ route.pk }}" method="POST" action="{% url 'rate-export-update' pk=form.instance.pk %}">

                  <input class="patch" name="_method" type="hidden" value="PATCH">

                {% endif %}

                {% csrf_token %}

                {{ form.transportcompany }}{{ form.route }}

                <td>{{ form.amount }}</td>
                <td>{{ form.validity }}</td>

                {% if not form.instance.pk %}

                <td><div class="status"></div></td>
                {# create #}

                {% else %}

                <td><div class="status check"></div></td>
                {# update #}

                {% endif %}

                </form>
              </tr>

              {% endfor %}

            </table>

            {% endfor %}

          </div>
