{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
  &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
  &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
  <h2>{{ original.start_date }} -- {{ original.end_date }}</h2>
  <table border="1">
    <tr>
      <th scope="col" colspan="3">Publicaciones de Carga</th>
      <th scope="col">Nº Empresas que publicaron</th>
      <th scope="col" colspan="3">Cotizaciones publicadas</th>
      <th scope="col" colspan="3">Cotizaciones por publicación</th>
      <th scope="col" colspan="3">Cotizaciones adjudicadas</th>
      <th scope="col" colspan="3">Número de camiones</th>
      <th scope="col">Empresas cargadoras registradas</th>
      <th scope="col">Empresas cargadoras registradas en el periodo</th>
      <th scope="col">Empresas de transporte registradas</th>
      <th scope="col">Empresas registradas transporte en el periodo</th>
    </tr>
    <tr>
      <td>total</td><td>spot</td><td>licitación</td>
      <td></td>
      <td>total</td><td>spot</td><td>licitación</td>
      <td>total</td><td>spot</td><td>licitación</td>
      <td>total</td><td>spot</td><td>licitación</td>
      <td>total</td><td>spot</td><td>licitación</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{{ original.published_freights_count }}</td>
      <td>{{ original.published_freights_count_by_spot }}</td>
      <td>{{ original.published_freights_count_by_tender }}</td>

      <td>{{ original.company_count }}</td>

      <td>{{ original.published_quotes_count }}</td>
      <td>{{ original.published_quotes_count_by_spot }}</td>
      <td>{{ original.published_quotes_count_by_tender }}</td>

      <td>{{ original.quotes_per_freight_count|floatformat }}</td>
      <td>{{ original.quotes_per_freight_count_by_spot|floatformat }}</td>
      <td>{{ original.quotes_per_freight_count_by_tender|floatformat }}</td>

      <td>{{ original.allotted_quotes_count }}</td>
      <td>{{ original.allotted_quotes_count_by_spot }}</td>
      <td>{{ original.allotted_quotes_count_by_tender }}</td>

      <td>{{ original.truck_count }}</td>
      <td>{{ original.truck_count_by_spot }}</td>
      <td>{{ original.truck_count_by_tender }}</td>

      <td>{{ original.registered_freightcompanies_all_count }}</td>
      <td>{{ original.registered_freightcompanies_period_count }}</td>
      <td>{{ original.registered_transportcompanies_all_count }}</td>
      <td>{{ original.registered_transportcompanies_period_count }}</td>
    </tr>
  </table>

  {% if original.freights_per_origin_destination_by_spot_as_dict %}

  <h2>Publicaciones spot por Origen - Destino</h2>
  <table border="1">
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th>#</th>

      {% for item in original.freights_per_origin_destination_by_spot_as_dict.header %}

      <th>{{ item }}</th>

      {% endfor %}

    </tr>

    {% for zone in original.freights_per_origin_destination_by_spot_as_dict.body %}

    <tr>

      {% for item in zone %}

      <td>
	{{ item|default:"-" }}
      </td>

      {% endfor %}

    </tr>

    {% endfor %}

  </table>

  {% endif %}

  {% if original.freights_per_origin_destination_by_tender_as_dict %}

  <h2>Publicaciones licitación por Origen - Destino</h2>
  <table border="1">
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th>#</th>

      {% for item in original.freights_per_origin_destination_by_tender_as_dict.header %}

      <th>{{ item }}</th>

      {% endfor %}

    </tr>

    {% for zone in original.freights_per_origin_destination_by_tender_as_dict.body %}

    <tr>

      {% for item in zone %}

      <td>
	{{ item|default:"-" }}
      </td>

      {% endfor %}

    </tr>

    {% endfor %}

    {% endif %}

  </table>

  {% if original.prices_per_origin_destination_by_spot_as_dict %}

  <h2>Precios spot por Origen - Destino</h2>
  <table border="1">
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      
      {% for company in original.prices_per_origin_destination_by_spot_as_dict.header %}

      <th>{{ company }}</th>

      {% endfor %}

    </tr>

    {% for zone in original.prices_per_origin_destination_by_spot_as_dict.body %}

    <tr>

      {% for item in zone %}

      <td>

	{% if forloop.counter == 1 or forloop.counter == 2 %}

	{{ item }}

	{% else %}

        {% for price in item %}

        {{ price.0 }}{% if price.1 %}(Adjudicada){% endif %}

        {% if not forloop.last %}
        |
        {% endif %}

        {% endfor %}

	{% endif %}

      </td>

      {% endfor %}

    </tr>

    {% endfor %}

    {% endif %}

  </table>

  {% if original.prices_per_origin_destination_by_tender_as_dict %}

  <h2>Precios licitación por Origen - Destino</h2>
  <table border="1">
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      
      {% for company in original.prices_per_origin_destination_by_tender_as_dict.header %}

      <th>{{ company }}</th>

      {% endfor %}

    </tr>

    {% for zone in original.prices_per_origin_destination_by_tender_as_dict.body %}

    <tr>

      {% for item in zone %}

      <td>

	{% if forloop.counter == 1 or forloop.counter == 2 %}

	{{ item }}

	{% else %}

        {% for price in item %}

        {{ price.0 }}{% if price.1 %}(Adjudicada){% endif %}

        {% if not forloop.last %}
        |
        {% endif %}

        {% endfor %}

	{% endif %}

      </td>

      {% endfor %}

    </tr>

    {% endfor %}

  </table>

  {% endif %}

</div>

{% endblock %}
